:root {
    
    --bg-dark: #445651;
    --green: #879d79;
    --light-green: #bbcaa2;
    --pale-green: #ddecb8;
    --light-bg: #e2e8da;

    --text-dark: #26322f;
    --white: #ffffff;

    --border-radius: 8px;
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
}
